#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  background-color: white;
  flex-direction: column;
}

.colorMetro {
  color: blue;
  margin-top: 0px;
  margin-bottom: 0px;
}

.toDo{
  margin: 0px 
}

.logo {
  width: 60px;
  height: 60px;
  margin-top:0px;
  margin-right: 10px;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.ToDoAppAndAddNote {
  margin-top: 0px;
}

.signin-login-buttons{

  padding-top: 2%;
  padding-left: 87%;
  margin-right: 1%;
  /*width: 230vh;*/

}

.signinlogin{
  height: 4vh;
  font-size: 1.5vh;
  font-weight: 600;
  color: blue;
}

.signinlogin:hover {
  background-color:aqua;
}

.SignInModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
}

.noteArea1 {
  padding-top: 32%;
}

.noteArea2 {
  overflow-y: auto;
  padding-top: 10vh;
}

.box{
  border: 2px solid aqua;
  border-radius: 9px;
  width: 350px;
  height: 8.5vh;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}


.note-content {
  margin-left:4vh;
  overflow: hidden;
  align-content: center;
}

.note-title {
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.note-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}


.box:hover {
  background-color:aqua; /* Цвет фона при наведении */
  border-color: blue; /* Цвет границы при наведении */
}


.xButton {
 height: 25px;
 width: 25px;
 padding: 0px;
 justify-content: center;
 display: flex;
 align-content: center;
 align-items: center;
 border: none;
 background-color: transparent;
 margin-bottom: 50px;
 cursor: pointer;
}

.xImage{
  height: 25px;
  width: 25px;
}

.boxRightSide{
display: flex;
flex-direction: row-reverse;
margin: 8px 10px 8px 15px;
}

.Note{
  margin: 8px 0px 8px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkbox{
margin-right: 20px;
}











input, textarea {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-bottom: 1px solid #000;
}

textarea {
  height: 100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
}

.justDoIt {
  color: blue;
}

.save{
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.save:hover {
  background-color:lawngreen; /* Цвет фона при наведении */
  border-color: blue; /* Цвет границы при наведении */
}

.close{
  cursor: pointer;
  transition: background-color 0.3s; /*border-color 0.3s;*/
}

.close:hover {
  background-color:red; /* Цвет фона при наведении */
  border-color: red; /* Цвет границы при наведении */
}



/*
.pointing-image {
  position: absolute;
  right: 20px; !* Adjust as necessary to align the finger with the button *!
  top: 24%; !* Adjust as necessary to align the finger with the button *!
  transform: translateY(-50%);
  width: 600px; !* Adjust size as needed *!
  pointer-events: none; !* This makes the image not interfere with clicking the button *!
}*/
